@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<MovieFormResponse>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <td>Title</td>
            <td>Year</td>
            <td>Category</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>Lent To</td>
            <td>Notes</td>

        </tr>
    </thead>
    @foreach (var record in Model)
    {
<tr>
    <td>@record.Title</td>
    <td>@record.Year</td>
    <td>@record.Category.CategoryName</td>
    <td>@record.Director</td>
    <td>@record.Rating</td>
    <td>@record.Edited</td>
    <td>@record.LentTo</td>
    <td>@record.Notes</td>
    <td><a asp-action="Edit" asp-route-id="@record.MovieID">Edit</a></td>
    <td><a asp-action="Delete" asp-route-id="@record.MovieID">Delete</a></td>
</tr>
    }

</table>

<a class="btn" asp-action="MovieForm">Add movie</a>